@import './platform.css';

Page {
    background-color: white;
    font-size: 14;
}

TextField {
    margin: 10;
    padding: 10;
}
Image {
    margin-top: 20;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 30;
}
Button{
    margin: 10;
    padding: 10;
}

ActionBar {
  color: white;
  background-color: #2e6dad;
}


